<div class="container">
        <div class="col-sm-6 mx-auto">
            <div class="card mt-5 border-dark" style="border-width: 10px; background-color: #e3f2fd;">
                <div class="card-body">
                    <h1 class="text-center"> 
                        <span class="fas fa-sign-in-alt"></span> Ingresa 
                    </h1>
                    <form action="/login" method="POST">
                        <div class="form-group">
                            <label for="identification"> 
                                <span class="fas fa-id-card"></span> Cédula
                            </label>
                            <input type="text" name="identification" class="form-control" placeholder="Ingresa tu cédula" autofocus>
                        </div>
                        <div class="form-group mt-3">
                            <label for="password"> 
                                <span class="fas fa-lock"></span> Contraseña
                            </label>
                            <input type="password" name="password" class="form-control" placeholder="Ingresa tu contraseña">
                        </div>
                        <input type="submit" class="btn btn-dark btn-lg mt-5">
                    </form>

                    <hr>
                    <div class="text-center">
                        <p>¿No tienes una cuenta? <a href="/signup"> Regístrate </a></p>
                        <p>Regresa al <a href="/"> Inicio</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>