<div class="home">
    <div class="container home">
        <div class="card text-center mt-5 border-dark" style="border-width: 10px; background-color: #e3f2fd;">
            <div class="card-body">
                <h1><strong> Bienvenido a tu página favorita para monitorear tus signos vitales</strong></h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card text-center mt-5 border-dark" style="border-width: 10px;background-color: #e3f2fd;">
            <div class="card-body">
                <h5 class="card-title mb-4">Elige entre las siguientes opciones:</h5>
                <h6>
                    ¿Ya tienes una cuenta?
                    <a href="/login" class="btn btn-dark ms-2"><span class="fa fa-user"></span> Ingresa</a>
                </h6>
                <h6>
                    ¿Eres un nuevo usuario?
                    <a href="/signup" class="btn btn-dark ms-1"><span class="fa fa-user"></span> Regístrate</a>
                </h6>
                <img src="/img/Logo_Facultad.png" class="resize">
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <footer class="card text-center mt-5 mb-5 border-dark" style="border-width: 10px; background-color: #e3f2fd;">
            <h5 class="card-title text-center mt-2"> Contáctanos si tienes algún incoveniente</h5>
            <p>
                <span class="fa fa-user"></span> Mateo Parra Posse /
                <span class="fas fa-envelope-open-text"></span> posse1512@gmail.com /
                <span class="fas fa-phone"></span> (+57) 300 7636582
            </p>
            <p>
                <span class="fa fa-user"></span> Sergio Lagos Fuquen /
                <span class="fas fa-envelope-open-text"></span> slagos1999@live.com /
                <span class="fas fa-phone"></span> (+57) 301 3655421
            </p>
        </footer>
    </div>
</div>